//doctype html
//html
//  head
//    title= title
//   link(rel='stylesheet', href='/stylesheets/style.css')
//  body
//    block content
doctype html
html
  head
    title Glasgow Memory Server (GMS)
    //meta(name='description', content='website description')
    //meta(name='keywords', content='website keywords, website keywords')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    //modernizr enables HTML5 elements and feature detects 
    script(type='text/javascript', src='javascripts/modernizr-1.5.min.js')
  body
    #bg
      img(src='images/glasgow.jpg', alt='home')
    #main
      header
        #logo
          #logo_text
            //
               class="logo_colour", allows you to change the colour of the text 
            h1
              a(href='index.html') Glasgow Memory Server (GMS)            
        form.form-wrapper.cf
          input(type='text', placeholder='Search here...', required='required')
          button(type='submit') Search 
        nav
          #menu_container
            ul#menu-bar
              li
                a(href='/') Home
              li.active
                a(href='/news') News
                ul
                  li
                    a(href='/bbc') BBC
                  li
                    a(href='/scotsman') The Scotsman  
                  li
                    a(href='/et') Evening Times
              li
                a(href='/blog') Blog
                ul
                  li
                    a(href='/blogger') Blogger
                  li
                    a(href='/wordpress') Wordpress
              li
                a(href='/image') Image
                ul
                  li
                    a(href='/imgur') imgur
                  li
                    a(href='/flickr') flickr
              li
                a(href='/video') Video
                ul
                  li
                    a(href='/bbvvid') BBC
                  li
                    a(href='/youtube') Youtube
              li
                a(href='/twitter') Twitter
              li
                a(href='#') Contact Us
      #site_content
        #sidebar_container
          .sidebar
            h3 Latest News
            h4 News 1.
            h5 News 1.
            p All other latest news.
        .content
          h1= title
          p
            h4 #{minihead}
        - var length = Object.keys(userlist).length;
        each user, i in userlist  		        
          #content_container
            .details
              h4#h4_content
                strong Title: #{user.title}
              | Date: #{user.timeStamp}
              p Main Story: 
              p!= user.mainStory
              hr.inner
              p Related Images:
              p
                if(user.images)
                  each image in user.images
                    img#detail_image(src='/images/#{image.name}', alt='#{image.caption}')
                    br
                    | #{image.caption}
              hr.inner
              h3 Comments:
              hr.inner_comment
              if user.comments
                - var comLength = Object.keys(user.comments).length;
                if(comLength > 0)
                  each comment, j in user.comments
                    h4 Comment - #{j + 1}
                    p Name: #{comment.userName}
                    p Time Stamp: #{comment.timeStamp}
                    p UpVote: #{comment.upVote}
                    p DownVote: #{comment.downVote}
                    p Comment Text: #{comment.commentBody}
                    hr.inner_comment_replies
                    if(comment.replies)
                      - var comReplyLength = Object.keys(comment.replies).length;
                      each reply, k in comment.replies
                        h4 Comment Reply - #{k + 1}
                        p Name: #{reply.userName}
                        p Time Stamp: #{reply.timeStamp}
                        p UpVote: #{reply.upVote}
                        p DownVote: #{reply.downVote}
                        p Comment Text: #{reply.commentBody}
                        if(k < comReplyLength - 1)
                          hr.inner_comment_replies  
                    else
                      p This comment has no replies
                    if(j < comLength - 1)
                      hr.inner_comment
              else
                p This news has no comments!
              hr.inner  
              #detail_more
                a(href='#{user.url}') Original Article
                
          if(i < length - 1)
            hr.separator 
      #scroll
        a.top(title='Scroll to the top', href='#')
          img(src='images/top.png', alt='top')
      footer
        p
          img(src='images/twitter.png', alt='twitter')
          |  
          img(src='images/facebook.png', alt='facebook')
          |  
          img(src='images/rss.png', alt='rss')
        p
          a(href='/') Home
          | |
          a(href='/news') News
          | |
          a(href='/blog') Blog
          | |
          a(href='/image') Image
          | |
          a(href='/video') Video
          | |
          a(href='/twitter') Twitter
          | |
          a(href='#') Contact Us        
    //
       javascript at the bottom for fast page loading 
    script(type='text/javascript', src='javascripts/jquery.js')  

    
