doctype html
html
  head
    title Glasgow Memory Server (GMS)
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  body
    h1= title
    p Welcome to #{title}
    each user in userlist
      p!= user.name
      p!= user.text